/***************************** general *************************/
* {
    font-family:  'Montserrat', sans-serif;
}
#nabvarr {
    background-color: #0B3C49;
    margin-bottom: 50px;
}

#game_container{
    margin: 0 auto;
    padding: 0;
    border: 0;
    position: fixed;
}
li a{
    margin-right: 10px;
    color: white;
}

.show-popup {
  display : block;
}

.hide-popup {
  display : none;
}

.togle:hover{
    color:#0B3C49;
    text-decoration: none;
    background-color: #f3f7fb;
    padding: 5px;
    font-weight:bold;
    border-radius: 5px;
}

/******************** formulaire utilisateur ********************/
#btmpseudo {
    background-color: #f3f7fb;
    color: #0B3C49;
}

#lblpseud {
    text-transform: uppercase ;
    color: #f3f7fb;
}
.jouer{
    width: 50%;
    background-color: #f3f7fb; 
    color: #0B3C49;
}
#context{
    margin: 20px;
}
#pseudo{
    width: 50%;
}
/******************** le fichier index  ********************/
#btmjouer{
    background-color: #f3f7fb;
    color: #0B3C49;
    width: 50%;
}
#btmcontinuer{
    background-color: #f3f7fb;
    color: #0B3C49;
    width: 50%;
}
.namegame{
    color: #f3f7fb; 
    font-family: 'Quicksand', sans-serif; 
    margin-bottom: 30%;
}
.bodyindex{
    background: #0B3C49;
}

/********************* le fichier level ******************************/

/********** card-header *************/
div.col-md-4{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.card-header{
    font-size: 20px;
}
#nav{
    background-color: #0B3C49;
    color: white;
}
#nombre {
    display: inline;
    float: left;
}
#etoile {
    display: inline;
    float: left;
    margin-top: 1.5%;
    margin-right: 3%;
}
#texte {
    display: inline;
    text-transform: uppercase;
    font-size:small;
}
#indice {
    display: inline;
    float: right;
    margin-top: 1.5%;
}

#question {
    display: inline;
    margin-left: 3%;
    float: right;
    margin-top: 1.5%;
}
#top-menu{
    background-color:#0B3C49; 
    width: 67%;
}
/********** card-body *************/
.card-title {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}
.detimg {
    margin: 2% 2% 2% 2%;
}
#painting{
    filter : blur(2px);
}
.check{
    border: solid 5px #c9e265;
    
}
#nextlevel{
    display: none;
    background-color:#f3f7fb;
    border-radius: 3px;
    position: absolute;
    top: 180px;
    left: 29px;
    right: 32px;
    padding: 5px;
}
#btmsuivant{
    width: 80%;
    background-color: #0B3C49;
    color: #f3f7fb ;
    padding:5px;
}
.textegagner{
    color: #0B3C49;
}
.imagecontainer{
    
    position: relative;
}
/********** card-footer ***********/
.card-footer{
    background: #f3f7fb;
}
.carde{
    display: inline;
    margin : 2% 2% 2% 2% ;
}
/*************Pop up *******************/
#popup {
  font-family: 'Quicksand', sans-serif;
  font-size:small;
  color: white;
  background-color: #0B3C49;
  /* width:  70%; */
  display: none;
  border-style: ridge;
  position: absolute;
  top: -500px;
  left: 29px;
  right: 32px;
}

#imgclue {
    margin: 2% 2% 2% 2%;
}

#clueText {
    display: none;
    background: #f3f7fb;
    color : black;
    border-style: ridge;
    margin-top: 2%;

}
#noClueAvalaible{
   font-family: 'Quicksand', sans-serif;
   font-size:small;
   color: #0B3C49;
   background-color:#f3f7fb;
   /* width:  100%; */
   display: none;
   border-style: ridge;
   position: absolute;
   top: -370px;
   left: 29px;
   right: 32px;
}
#close {
    display: inline;
    margin-left: 3%;
    float: right;
    margin-top: 1.5%;
}

#buttons{
     margin-top: 2%;
}
