{% extends 'layouts/base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript">
    var tab = [];
    document.addEventListener("DOMContentLoaded", function(event) { 
        var details = [], i = 0;

        details[0] = "{{player.detail1}}" == "True" ? true : false;  
        details[1] = "{{player.detail2}}" == "True" ? true : false;  
        details[2] = "{{player.detail3}}" == "True" ? true : false;  
        details[3] = "{{player.detail4}}" == "True" ? true : false;  
        details[4] = "{{player.detail5}}" == "True" ? true : false;   

        {% for d in detail %}
            tab.push({x : {{d.position_x}}, y : {{d.position_y}}, height: {{d.height}}, width: {{d.width}}, checked : details[i] });
            i += 1;
        {% endfor %}
        for (let i = 0; i < 5; i++) {
            if (tab[i].checked == true) {
                $('.details div:nth-child(' + (i + 1) + ') img').addClass("check");
            }  
        }
    });
   
</script> 
 <script src="{% static 'javascript/script.js' %}"></script>
{% endblock %}

{% block title %}Level {{level.id}}{% endblock title %}

{% block nav %}{% endblock %}
{% block content %}

    <div class="container" id="game_container"> 
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div id="nav" class="card-header" >
                            <h3 id="nombre" >{{player.nb_stars}}</h3>
                            <i id="etoile" class="fas fa-star" ></i>
                            <i id="question"class="far fa-question-circle" onclick="OpenNoCluePopUp()"></i>
                            <i id="indice" onclick="openPopUpClue()"  class="fas fa-lightbulb"></i>
                        <div class="card" id="top-menu" >
                            <h6  class="text-center" id="texte">{{level.world.name}}</h6>
                        </div>
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title text-center">{{level.name}}</h5>
                        <div class="imagecontainer">
                            <img id="painting" src="{% static 'images/' %}{{level.image}}" width="100%" onclick="check(event)">
                        </div>
                        <div id="nextlevel" class="text-center">
                            <h1 class="textgagner" >GAGNE !</h1>
                            <a id="btmsuivant" href="{% url 'game:next_level' %}"  class="btn btn btn-lg" role="button" aria-pressed="true" >NIVEAU SUIVANT</a>
                        </div>
                    </div>
                    <div class="card-footer text-center details">
                        {% for d in detail %}
                            <div class="carde" ><img class="detimg" src="{% static 'images/' %}{{d.image}}" ></div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- indice à mettre ailleurs -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="popup">
                    <div class="card-body text-center " >
                      <i id="close"class="far fa-window-close" onclick="closePopUpClue()"></i>
                      <p class=" text-center">Choisir le détail</p>
                      <!--For d in notFoundDetails-->
                      {% for d in detail %}
                        <div class="carde" ><img class="detimg" src="{% static 'images/' %}{{d.image}}" ></div>
                      {% endfor %}
                      <!--div id="clueText"> Tu n'as pas besoin d'aide. <br> Ouvre bien tes yeux.</div-->

                      <div class="row " id="clueText">
                          <i id="close"class="far fa-window-close" onclick="CloseClueText()"></i>
                          <div >Tu n'as pas besoin d'aide. <br> Ouvre bien tes yeux.</div>
                      </div>
                    </div>
                </div>
             </div>
       </div>
       <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card-body text-center " id="noClueAvalaible" >
                    <i id="question"class="far fa-window-close" onclick="CloseNoCluePopUp()"></i>
                      Oups tu n'as pas assez d'étoiles
                </div>
            </div>
        </div>
  </div>
{% endblock content %}
